{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>what should i buy?</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/images/favicon.png' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}"> 
</head>
<body>
    <div class="main">
        <h1>what should i buy?</h1>
        <p>search for a product and any specfic details...</p>
        <div class="wrap">
            <form id="searchForm">
                <div class="search">
                    <input type="text" id="searchInput" class="searchTerm" placeholder="&quot;laptop for work&quot;">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- <div id="according">
            <p>aaccording to the internet, you should buy...</p>
        </div> -->
        <div id="loading">
            <p>Loading...</p>
        </div>
        <div id="result"></div>
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
    <footer>
        <p><a href="https://github.com/k0src/" target="_blank"><b>k0</b> 2024</a></p>
    </footer>
    
</body>
</html>